* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

.spaceXlogo {
    width: 150px;
    /* height: 20px; */
    object-fit: contain;
    margin: 0 0 0 40px;
}

.spacex-app {
    min-height: 100vh;
    width: 100%;
    background-image: url('../public/images/homepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    color: #fff;
}

/* HOME */
.home {
    height: 100%;
    text-shadow: 2px 3px 14px #070101;
}

.employees h4 {
    font-size: 48px;
    margin-bottom: 0;
}

.employees p {
    font-size: 22px;
}

.menu-links a {
    color: #fff;
    text-decoration: none;
    border-bottom: 3px solid #fff;
}

.menu-links a:hover,
.article-link {
    color: #8da9d1;
    transition: all .2s ease-in-out;
}

.social-media a {
    color: #000;
    transition: all .2s ease-in-out;
}

.social-media a:hover {
    color: #8da9d1;
}

.founder h1 {
    font-size: 78px;
    font-weight: 500;
    letter-spacing: 5px;
}

/* LAUNCHES */
.missions {
    background-color: #000;
}

.mission h5,
.mission p {
    font-weight: 600;
}

.mission-images {
    /* width: 250px; */
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.mission-box {
    background-color: #fff;
}

.pages-height {
    min-height: calc(100vh - 86px);
    padding: 80px 0;
}

.article-link {
    color: #939294;
    text-decoration: none;
}

/* ROCKETS */
.rocket-info {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(600px, 1fr));
    align-items: center;
    color: white;
}

.rocket-info h2 {
    font-size: 72px;
}

.pos-info {
    position: relative;
}

.pos-link {
    position: absolute;
    margin: 30px;
    z-index: 1;
}

.rocket-name h3 {
    font-weight: 400;
}

.rocket-name p {
    margin-left: 25%;
}

.link {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

.link:hover {
    color: #939294;
}

.roc-details {
    min-height: 100vh;
    backdrop-filter: blur(8px);
    text-align: center;
    color: #000;
    background-color: rgb(228 228 228 / 28%);
}

.roc-details h3,
.roc-details p {
    font-weight: 500;
}

.rocket-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 48px;
    padding: 20px;
}

.rocket-parameters {
    display: inline-grid;
    grid-auto-flow: column;
    align-items: baseline;
}

.text-shadow {
    text-shadow: 2px 3px 14px #070101;
}

.text-shadow h3 {
    font-weight: 400;
    font-size: 30px;
}

.text-shadow h6 {
    font-size: 20px;
}

hr {
    width: 85%;
    margin: auto !important;
}

@media screen and (max-width: 576px) {
    .employees h4 {
        font-size: 24px;
    }

    .founder {
        padding: 10px !important;
    }

    .founder h1 {
        font-size: 50px;
    }
}

@media screen and (max-width: 767px) {

    .home,
    .rocket-name {
        text-align: center;
    }

    .rocket-name p {
        margin-left: 0;
    }

    .rocket-details {
        grid-template-columns: none;
    }

    .social-media {
        display: inherit;
        justify-content: space-evenly;
    }

    .mission {
        display: inline-grid !important;
    }
}

@media screen and (min-width: 1200px) {

    .home {
        min-height: calc(100vh - 86px);
        display: grid;
    }

    .founder {
        margin-top: -90px !important;
    }

    .social-media {
        display: inline-grid !important;
    }

    .social-media a {
        color: #fff;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {

    .employees,
    .social-media {
        display: inherit;
        justify-content: space-evenly;
    }
}